#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: green;
}
.words {
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    width: 120px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    text-align: center;

}
.location {

    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    width: 350px;
    margin: 10px 0px 10px 0px;
    border: 0px;


}

.station {
    width: 200px;
    display:inline-block;
    word-wrap: break-word;
    text-align: left;
    margin: 10px 0px 10px 0px;
    border: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align:bottom;

}
.items {
    display: inline-block;
    word-wrap: break-word;/
    text-align: left;
    margin: 10px 0px 10px 0px;
    font-size: 50px;
    font-weight: bold;
    min-width: 20px;
}
.itemdetail {
    display: inline-block;
    word-wrap: break-word;/
    text-align: left;
    margin: 10px 0px 10px 0px;
    font-size: 50px;
    min-width: 20px;
}

.next {
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    width: 150px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    float: right;
}
.previous {
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    width: 150px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    float: left;
}
.category{
    border-width: 0.5px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(150,150,255,1);
    border-color: blue;
    padding-left: 5%;
    width: 100%;

}
.category:hover{
    background-color: rgba(150,150,150,0.6) !important;
}
.cate_show{
    border-bottom: solid;
    border-width: 0.5px;
    margin: 0px 0px 0px 0px;
    border-color: blue;
    padding-left: 5%;
    position: relative
}

.search{
    display: inline-block;
    margin: 5px;
    vertical-align: middle
}

.icon{
    display: inline-block;
    vertical-align: middle;
    height:30px;
    margin-right: 10px;
}
