{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'homepage_c.js') }}"></script>

<script>
    let data = {{data|tojson}}
    var name_diction={{name_diction|tojson}}
    var location_diction={{location_diction|tojson}}
    var station_diction={{station_diction|tojson}}
    var host_url = "http://3.18.109.8:5011"
    // var host_url = "http://127.0.0.1:5011"
    var MS1_url = "http://54.165.212.118:5011"
    // var composite_url = "http://127.0.0.1:5013"
    var composite_url = "http://3.18.109.8:5013"
    //var host_url = "https://c3umgylja9.execute-api.us-east-2.amazonaws.com/cloudcomputing-eve"
    //var MS1_url = "https://c3umgylja9.execute-api.us-east-2.amazonaws.com/cloudcomputing-eve"
    //var composite_url = "https://c3umgylja9.execute-api.us-east-2.amazonaws.com/cloudcomputing-eve"
    var url = window.location.href
    var arr = url.split("/")
    var curr_url = arr[0] + "//" + arr[2]
    console.log(data)
</script>

<br>
<div>Search by Item</div>
<input id="search_input_c" class="form-control search" type="search" style = "width: 20%;" placeholder="Item Name" aria-label="Search" required>
<button type='button' id="search_button_c" class="btn btn-outline-info search" style="margin-left: 20px;color:DarkSlateBlue;border-color:DarkSlateBlue;">Search</button>
<span id="search_note_c" class="search"></span>
<br>
<div>Search by Item and Location </div>
<input id="search_input_r" class="form-control search" type="search" style = "width: 20%;" placeholder="Item Name" aria-label="Search" required>
<input id="search_input_r2" class="form-control search" type="search" style = "width: 20%;" placeholder="Range Name" aria-label="Search" required>
<button type='button' id="search_button_r" class="btn btn-outline-info search" style="margin-left: 20px;color:DarkSlateBlue;border-color:DarkSlateBlue;">Search</button>
<span id="search_note_r" class="search"></span>
<br>
<br>
<div id="cate_container">

</div>



{% endblock %}