<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <title>EVE Marketer</title>

    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/1688717.jpg');
        }
    </style>
</head>
<body>
<center>
<button class="btn btn-danger" style="margin-top: 20%;padding: 25px; font-size: 50px" onclick="location.href='http://3.18.109.8:5012/marketorders'" type="button"> Let's Start ! </<button>
</center>
</body>
</html>

